@model RoleManagementVM
<script>
    .gradient - custom {
    
        background: #6a11cb;

    
        background: -webkit - linear - gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    
        background: linear - gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
</script>

<form method="post">
    <section class="h-100 gradient-custom">
        <div class="container pt-1">
            <div class="row d-flex justify-content-center my-4">
                <div>
                    <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="User" asp-action="Index">Back to User</a>
                </div>
                <input type="hidden" value="@Model.applicationUser.Id" asp-for="@Model.applicationUser.Id" />
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">User Roles Management</h5>
                        </div>
                        <div class="card-body">
                            <!-- Single item -->
                            <div class="col-12">
                                <div class="row mb-3 ">
                                    <div class="col-4">
                                        <label>User Name : </label>
                                    </div>
                                    <div class="col-8">
                                        <input disable class="form form-control" placeholder="Enter ShippingDate" readonly value="@Model.applicationUser.Name" />
                                    </div>
                                </div>
                                <div class="row mb-3 ">
                                    <div class="col-4">
                                        <label>Role Name : </label>
                                    </div>
                                    <div class="col-8">
                                        <select asp-for="applicationUser.Role" asp-items="@Model.RoleList" class="form-select">
                                            <option>---- Select Role ----</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3" style="display:none" id="companyContainer">
                                    <div class="col-4">
                                        <label>Comapny Name : </label>
                                    </div>
                                    <div class="col-8">
                                        <select asp-for="applicationUser.CompanyId" style="display:none" asp-items="@Model.CompanyList" class="form-select">
                                            <option>---- Select Company ----</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-sm btn-primary w-100" type="submit">Assign</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


@section Scripts {
    
    <script>
        $(document).ready(function () {
            //Showing if ByDefault Selected
            if ($("#applicationUser_Role Option:Selected").text() == "Company"){
                $("#companyContainer").show();
                $("#applicationUser_CompanyId").show();
            }

            //Toggle
            $("#applicationUser_Role").change(function () {
                var selection = $("#applicationUser_Role Option:Selected").text();
                alert(selection);
                if (selection == "Company") {
                    $("#companyContainer").show();
                    $("#applicationUser_CompanyId").show();
                }
                else {
                    $("#applicationUser_CompanyId").val = 0;
                    $("#companyContainer").hide();
                    $("#applicationUser_CompanyId").hide();
                }
            })
        })
    </script>
}


