@model OrderVM
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
                            .gradient - custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit - linear - gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear - gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
</script>

<form method="post">
    <section class="h-100 gradient-custom">
        <div class="container pt-1">
            <div class="row d-flex justify-content-center my-4">
                <div>
                    <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="Order" asp-action="Index">Back to Orders</a>
                </div>
                @*____________ Left Side _________*@
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">PickUp Detail</h5>
                        </div>
                        <div class="card-body">

                            <!-- Single item -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-8">
                                            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            {
                                                <input class="form form-control" placeholder="Enter Name" asp-for="OrderHeader.Name" />
                                            }
                                            else
                                            {
                                                <input class="form form-control" readonly placeholder="Enter Name" asp-for="OrderHeader.Name" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-8">
                                            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            {
                                                <input class="form form-control" placeholder="Enter Phone" asp-for="OrderHeader.PhoneNumber" />
                                            }
                                            else{
                                                <input class="form form-control" readonly placeholder="Enter Phone" asp-for="OrderHeader.PhoneNumber" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            {
                                                <input class="form form-control" placeholder="Enter Address" asp-for="OrderHeader.StreetAddress" />
                                            }
                                            else
                                            {    
                                               <input class="form form-control" readonly placeholder="Enter Address" asp-for="OrderHeader.StreetAddress" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>City</label>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            {
                                                <input class="form form-control" placeholder="Enter City" asp-for="OrderHeader.City" />
                                            }
                                            else
                                            {
                                                <input class="form form-control" readonly placeholder="Enter City" asp-for="OrderHeader.City" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>State</label>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            { 
                                                <input class="form form-control" placeholder="Enter State" asp-for="OrderHeader.State" />
                                            }
                                            else
                                            {
                                                <input class="form form-control" readonly placeholder="Enter State" asp-for="OrderHeader.State" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Postal Code</label>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            { 
                                                <input class="form form-control" placeholder="Enter PostalCode" asp-for="OrderHeader.PostCode" />
                                            }
                                            else
                                            {
                                                <input class="form form-control" readonly placeholder="Enter PostalCode" asp-for="OrderHeader.PostCode" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-8">
                                             <input class="form form-control" readonly placeholder="Enter PostalCode" asp-for="OrderHeader.ApplicationUser.Email" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Order Date</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form form-control" readonly placeholder="Enter PostalCode" value="@Model.OrderHeader.OrderDate.ToShortDateString()" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Carrier</label>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            { 
                                                <input class="form form-control" placeholder="Enter Carrier" asp-for="OrderHeader.Carrier" />
                                            }else{
                                                <input class="form form-control" readonly placeholder="Enter Carrier" asp-for="OrderHeader.Carrier" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Tracking Number</label>
                                        </div>
                                        <div class="col-8">
                                            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                            {
                                                <input class="form form-control" placeholder="Enter TrackingNumber" asp-for="OrderHeader.TrackingNumber" />
                                            }
                                            else{
                                                <input class="form form-control" placeholder="Enter TrackingNumber" readonly asp-for="OrderHeader.TrackingNumber" />
                                            } 
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Shipped Date</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form form-control" placeholder="Enter ShippingDate" readonly value="@Model.OrderHeader.ShippingDate" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Single item -->
                                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                {
                                    <div class="col-12">
                                        <div class="row mb-3 ">
                                            <div class="col-4">
                                                <label>Session Id</label>
                                            </div>
                                            <div class="col-8">
                                                <input class="form form-control" placeholder="Enter PostalCode" readonly asp-for="OrderHeader.SessionId" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single item -->
                                    <div class="col-12">
                                        <div class="row mb-3 ">
                                            <div class="col-4">
                                                <label>Payment Intent ID</label>
                                            </div>
                                            <div class="col-8">
                                                <input class="form form-control" placeholder="Enter PostalCode" readonly asp-for="OrderHeader.PaymentIntentId" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        @if (Model.OrderHeader.SessionId == null)
                                        {
                                            <div class="col-4">
                                                <label>Payment Due Date</label>
                                            </div>
                                            <div class="col-8">

                                                <input class="form form-control" placeholder="Enter PostalCode" readonly asp-for="OrderHeader.PaymentDueDate" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-4">
                                                <label>Payment Date</label>
                                            </div>
                                            <div class="col-8">
                                                <input class="form form-control" placeholder="Enter PostalCode" readonly asp-for="OrderHeader.PaymentDate" />
                                            </div>
                                        }

                                    </div>
                                </div>
                                
                                <!-- Single item -->
                                <div class="col-12">
                                    <div class="row mb-3 ">
                                        <div class="col-4">
                                            <label>Payment Status</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form form-control" placeholder="Enter PostalCode" readonly asp-for="OrderHeader.PaymentStatus" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                   @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                    {
                                            
                        <button class="btn btn-warning w-100" type="submit" asp-controller="UpdateOrderDetail">Submit</button>
                    }
                </div>
                @*____________ Right Side _________*@
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Order Summery</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <span type="button" class="border border-dark rounded-2 text-center py-2">Order Status -- @Model.OrderHeader.OrderStatus </span>
                            </div>
                            @foreach (var item in Model.OrderDetail)
                            {
                                <ul class="list-group list-group-flush py-2 border-bottom border-dark">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        <span class="fw-bold">@item.Product.Title</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        Price * Qty
                                        <span>@item.Product.Price X @item.Count</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        TotalPrice
                                        <span>@(item.Price * item.Count)</span>
                                    </li>
                                </ul>
                            }
                            
                        </div>
                        <div class="card-footer bg-dark mb-2 text-white">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0  bg-dark text-white">
                                Total Bill
                                <span>@Model.OrderHeader.OrderTotal</span>
                            </li>
                        </div>
                        
                        <button type="submit" class="btn btn-success btn-sm btn-block mb-2">
                            PAY NOW
                        </button>

                        <button type="submit" class="btn btn-secondary btn-sm btn-block mb-2">
                            START PROCESSING
                        </button>

                        <button type="submit" class="btn btn-secondary btn-sm btn-block mb-2">
                            SHIP ORDER
                        </button>

                        <button type="submit" class="btn btn-danger btn-sm btn-block mb-2">
                            CANCEL ORDER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>